body {
    background-color: rgba(0, 0, 0, 0.98);
}

* {
    margin: 0;
    padding: 0;
}

#top {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: fixed;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 0;
    background-position: top;
    font-family: verdana;
}

#top>li {
    padding: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    list-style-type: none;
}

li>a {
    text-decoration: none;
    color: rgb(57, 57, 57);
}

li>a:hover {
    color: crimson;
}

#poster {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/poster.jpg");
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}



#upper {
    font-family: times;
    font-size: 4rem;
    color: rgba(248, 248, 248, 0.653);
}

#middle {
    color: rgba(253, 253, 253, 0.775);
    font-size: 5.5rem;
    font-family: verdana;
    font-weight: 700;
}

#lower {
    color: rgba(255, 255, 255, 0.62);
    font-family: tahoma;
    font-size: 1.2rem;
    font-weight: 50;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.a {
    font-size: 1rem;
    font-weight: bold;
    font-family: tahoma;
}

.b {
    font-size: 1.5rem;
    color: rgba(102, 150, 19, 0.857);
    font-family: verdana;
}

.c {
    font-family: verdana;
    font-size: 1.5rem;
    color: rgba(240, 255, 255, 0.3);
}

.d {
    font-family: verdana;
    font-size: 1.4rem;
    color: rgba(240, 255, 255, 0.3);
}

.e {
    font-size: 0.9rem;
    color: rgba(102, 150, 19, 0.857);
    font-family: tahoma;
}

.container>a {
    text-decoration: none;
}

.titles {
    font-weight: bolder;
    font-size: 2.5rem;
    color: rgb(253, 253, 253);
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.titleb {
    font-size: 1.2rem;
    color: rgba(240, 255, 255, 0.6);
    text-align: center;
    margin-bottom: 2rem;
    font-family: tahoma;
}

.titlec {
    font-size: 1.3rem;
    color: rgba(240, 255, 255, 0.6);
    margin-bottom: 2rem;
    font-family: tahoma;
}

.box {
    height: 10rem;
    width: 27rem;
    margin: 1.5rem;
    background-color: rgb(35, 35, 35);
    border-radius: .7rem;
    color: white;
    padding: 1.5rem;
}

.box2 {
    height: 6rem;
    width: 27rem;
    margin: 1.5rem;
    background-color: rgb(35, 35, 35);
    border-radius: .7rem;
    color: white;
    font-size: 1.2rem;
    padding: 1.5rem;
    font-family: verdana;
}

#b1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("pics/arterra.jpg");
    background-size: cover;
}

#b2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("pics/tictactoe.jpg");
    background-size: cover;
}

#b1:hover {
    box-shadow: 0px 0px 2rem #e01f76a3;
}

#b2:hover {
    box-shadow: 0px 0px 2rem #f8c25ed2;
}

#profile {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#profile>#pic {
    height: 22rem;
    width: 30rem;
    border-radius: 0.7rem;
    background-image: url("pics/profile.jpg");
    background-position: center;
    background-size: cover;
    margin: 1rem;
}

#text {
    max-height: 13rem;
    height: 22rem;
    width: 28rem;
    text-align: justify;
    padding: 1.5rem;
    margin: 1rem;
}

#text>#title1 {
    font-size: 2.7rem;
    color: azure;
}

#text>#a {
    font-size: 1.06rem;
    color: rgba(240, 255, 255, 0.36);
    font-family: verdana;
}

#sendbtn,
#mebtn,
#hirebtn {
    background-color: rgba(102, 150, 19, 0.707);
    border: 0;
    border-radius: 1.5rem;
    color: white;
    font-size: 1.3rem;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.6rem;
    font-family: verdana;
    margin-top: 1.5rem;
}

#sendbtn:hover,
#mebtn:hover,
#hirebtn:hover {
    background-color: rgba(128, 255, 0, 0.612);
    box-shadow: 0px 0px 2rem #5dbb2e;
}

#contactcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

#contactform {
    width: 29rem;
    margin: 1rem;
    padding: 1.5rem;
}

#mycontact {
    width: 28rem;
    margin: 1rem;
    padding: 1.5rem;
}

#name,
#email,
#contactno,
#message {
    background-color: rgb(35, 35, 35);
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-top: 1rem;
    color: rgba(240, 255, 255, 0.428);
    font-size: 1rem;
    padding: 0.8rem;
    border: 0;
    width: 100%;
    font-family: verdana;
}

#message {
    overflow: hidden;
    resize: none;
}

#name:focus,
#email:focus,
#contactno:focus,
#message:focus {
    background-color: rgba(35, 35, 35, 0.374);
    box-shadow: 0px 0px 3rem rgb(105, 103, 103);
    color: white;
}

#instagram,
#facebook,
#linkedin,
#whatsapp {
    height: 4rem;
    width: 4rem;
    background-color: burlywood;
    border: 0;
    border-radius: 100%;
    margin: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0px 2.5rem rgb(83 83 83);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

#instagram:hover,
#facebook:hover,
#linkedin:hover,
#whatsapp:hover {
    box-shadow: 0px 0px 1.5rem #73eb36;
}

#instagram {
    background-image: url("pics/instagram.gif");
    background-size: cover;
}

#facebook {
    background-image: url("pics/facebook.gif");
    background-size: cover;
}

#linkedin {
    background-image: url("pics/Linkedin.gif");
    background-size: cover;
}

#whatsapp {
    background-image: url("pics/whatsapp.gif");
    background-size: cover;
}

#logos {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.292);
    font-size: 1rem;
    margin: 2rem;
    font-family: verdana;
}

@media (max-width:2500px) {
    html {
        font-size: 100%;
    }
    #cap {
        margin-top: 20rem;
    }
}

@media(max-width:1080px) {
    html {
        font-size: 62.75%;
    }
    #cap {
        margin-top: 15rem;
    }
}

@media(max-width:760px) {
   
    html {
        font-size: 55%;
    }
    #top
    {
        justify-content: space-around;
        padding-right: 0;
        padding-left: 0;
    }
    #poster {
        height: 70%;
    }
    #cap {
        margin-top: 50%;
    }
    .box2 {
        width: 80vw;
    }
    .box,
    #mycontact,
    #contactform {
        width: 80%;
    }
    #profile>#pic {
        width: 80%;
        height:30rem;
    }
    #profile>#text {
        width: 80%;
        margin-top: 3rem;
    }
}
