   body {
       background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/w3.jpg");
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       background-attachment: fixed;
   }
   
   * {
       margin: 0;
       padding: 0;
   }
   
   #title1 {
       text-align: right;
       margin-top: 1rem;
   }
   
   #title1>a {
       text-decoration: none;
       font-weight: bolder;
       font-size: 2rem;
       color: azure;
       margin-right: 2rem;
       text-shadow: 0px 0px 0.5rem rgb(255, 255, 255);
       border: .1rem solid white;
       padding: 0.3rem;
       padding-left: 0.9rem;
       padding-right: 0.9rem;
       border-radius: .5rem;
       box-shadow: 0px 0px 0.5rem rgb(255, 255, 255);
   }
   
   #title1>a:hover {
       box-shadow: 0px 0px 1rem rgb(255, 255, 255);
   }
   
   .titles {
       font-weight: bolder;
       font-size: 2rem;
       color: azure;
       margin-top: 40px;
       margin-bottom: 40px;
       text-shadow: 0px 0px 0.5rem rgb(255, 255, 255);
   }
   
   #gallery {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
       grid-auto-columns: 21rem;
       grid-gap: 3rem;
       grid-auto-rows: 17rem;
       margin: 2rem;
       margin-bottom: 5rem;
       position: relative;
   }
   
   img {
       width: 100%;
       height: 100%;
       z-index: -5;
       border-radius: .5rem;
   }
   
   .items {
       border: .2rem solid white;
       overflow: hidden;
       position: relative;
       z-index: 0;
       border-radius: .5rem;
       box-shadow: 0px 0px .5rem rgba(255, 255, 255, 0.884);
   }
   
   .dis {
       position: absolute;
       padding: .4rem;
       bottom: -5rem;
       font-size: 1rem;
       width: 100%;
       transition: all 0.2s ease;
       text-align: center;
       color: rgb(42, 42, 42);
       z-index: 1;
       background-color: rgba(255, 255, 255, 0.843);
   }
   
   @media(max-width:500px) {
       html {
           font-size: 57%;
       }
      body
      { background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/w4.jpg");
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       background-attachment: fixed;
        
      }
       .items {
           margin-left: 12%;
           margin-right: 12%;
       }
       .dis {
          transition:none;
          bottom:0rem;
       }
     
   }
   
   @media(max-width:1180px) {
       html {
           font-size: 62.5%
       }
   }
   
   @media(max-height:2500) {
       html {
           font-size: 100%;
       }
      
   }
